# ██ [ File-types                 ] ██
*.old
*.archive
*.xcf
*.bbmodel
*.cubik
*.schematic
*.lnk

# ██ [ Root Directories           ] ██
build
scripts

# ██ [ Asset Directories          ] ██
assets/hold

# ██ [ Language Content           ] ██
assets/*/lang

# ██ [ Minigame Content           ] ██
assets/gielinor/textures/gui/minigames/hold
